body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

#root {
  flex: 1;
}
.item-detail {
  max-width: 600px;      /* o 400px si querés más pequeño */
  margin: 3rem auto;     /* centra horizontalmente */
  padding: 2rem;
  border: 1px solid #ddd;
  border-radius: 10px;
  background-color: white;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}

  .card-img-top {
    width: 100%; /* Ajusta el ancho al 100% del contenedor */
    max-width: 300px; /* Tamaño máximo para que no sea gigante */
    height: auto; /* Mantiene la proporción de la imagen */
    display: block; /* Evita márgenes inesperados */
    border-radius: 10px; /* Bordes redondeados opcionales */
}
.botones-acciones {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  margin-top: 1rem;
  flex-wrap: wrap;
}
