.promocion-container {
    width: 100%;
    overflow: hidden;
    background-color: #000000;
    padding: 10px 0;
    display: flex;
    align-items: center;
    height: 50px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999; 
  }
  
  .promocion-marquee {
    display: inline-block;
    white-space: nowrap;
    animation: scroll-left 12s linear infinite;
    font-size: 1.5rem;
    font-weight: bold;
    color: #ffffff;
    padding-left: 100%;
  }
  
  
  @keyframes scroll-left {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-150%);
    }
  }
  
  
  @media (max-width: 768px) {
    .promocion-marquee {
      font-size: 1.2rem;
    }
  }
  
  @media (max-width: 480px) {
    .promocion-marquee {
      font-size: 1rem;
    }
  }
  