.carrito {
  display: flex; /* Activa Flexbox */
  align-items: center; /* Alinea verticalmente */
  gap: 10px; /* Espacio entre el carrito y el número */
  font-size: 20px; /* Ajusta el tamaño para ambos */
  
}
